@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="splash fadeIn">
    <div class="line lineL"></div>

    <h1>MYUUIII</h1>
    <p>software & web app developer</p>

    <div class="line lineR"></div>

    <h2>find me on</h2>
    <div class="socials">
        <div class="socialButtons">
            <center>

                <div class="button">
                    <a href="https://github.com/Myuuiii" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/github.png" alt="Slack">
                        <p>Myuuiii</p>
                    </a>
                </div>

                <div class="button">
                    <a href="https://discord.com/channels/@@me/795028074533617746" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/discord.png" alt="Discord">
                        <p>Myuu#0001</p>
                    </a>
                </div>

            </center>
        </div>
    </div>
</div>