@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="splash fadeIn">
    <div class="line lineL"></div>

    <h1>MYUUIII</h1>
    <p>software & web app developer</p>

    <div class="line lineR"></div>

    <h2>find me on</h2>
    <div class="socials">
        <div class="socialButtons">
            <center>

                <div class="button">
                    <a href="https://github.com/Myuuiii" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/github.png" alt="Slack">
                    </a>
                    <p>Myuuiii</p>
                </div>

                <div class="button">
                    <a href="https://discord.com/channels/@@me/795028074533617746" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/discord.png" alt="Discord">
                    </a>
                    <p>Myuu#0001</p>
                </div>

                <div class="button">
                    <a href="https://keybase.io/myuuiii" target="_blank">
                    <img src="https://cdn.myuuiii.moe/logos/keybase.png" alt="Keybase">
                    <p>Keybase</p>
                    </a>
                </div>

                <div class="button">
                    <a href="mailto:mute@mutedevs.nl" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/email.png" alt="Email">
                    </a>
                    <p>e-Mail</p>
                </div>

            </center>
        </div>
    </div>
</div>