@font-face {
    font-family: 'Pasajero';
    src: url('Pasajero.woff2') format('woff2'),
        url('Pasajero.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

