// Color Variables
$background: #111111;
$foreground: white;
$foreground-linecolor: whitesmoke;

/* Create a simple background */
body {
	background-color: $background;
}

/* Create a splash class which is located in the exact middle of the page */
.splash {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h1 {
		font-size: 7rem;
		color: $foreground;
		font-family: "Pasajero";
		font-weight: 300;
		text-align: center;
		line-height: 0;
	}

	& h2 {
		font-size: 2.5vw;
		color: $foreground;
		font-family: "Pasajero";
	}

	& p {
		font-size: 1.5vw;
		color: $foreground;
		font-family: "Pasajero";
		font-weight: 300;
		text-align: center;
	}
}

.line {
	width: 10%;
	height: 2px;
	background-color: $foreground-linecolor;
	margin-top: 1em;
	margin-bottom: 1em;
	transition: 1s;

	&.lineL {
		animation: 1s ease-out 0s 1 slideInLeft;
	}
	&.lineR {
		animation: 1s ease-out 0s 1 slideInRight;
	}
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 1.5s ease-in-out;
}

.socials {
	& .socialButtons {
		& .button {
			display: inline-block;
			padding: 20px;

			& a {
				text-decoration: none;
			}

			& img {
				width: 7rem;
			}
		}
	}
}

.blackWhiteButton {
	transition: 250ms;
	background-color: #111111;
	color: white;
	border: 1px solid white;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.5vw;
	font-family: "Pasajero";
	font-weight: 300;
	text-decoration: none;

	&:hover {
		background-color: white;
		color: #111111;
		border: 1px solid #111111;
	}
}
