@{
    ViewData["Title"] = "Home page";
}
<head>
    <!-- Add Discord Embed Meta -->
    <meta property="og:title" content="Myuuiii" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://myuuiii.com/" />
    <meta property="og:image" content="https://cdn.myuuiii.com/myuuiii/avatar.png" />
    @* <meta property="og:description" content="" /> *@
    <meta property="og:site_name" content="Myuuiii" />
    <meta property="og:locale" content="en_US" />
</head>

<div class="splash fadeIn">
    <div class="line lineL"></div>

    <h1>MYUUIII</h1>
    <p>software & web app developer</p>

    <div class="line lineR"></div>

    <h2>find me on</h2>
    <div class="socials">
        <div class="socialButtons">
            <center>

                <div class="button">
                    <a href="https://github.com/Myuuiii" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/github.png" alt="Slack">
                    </a>
                    <p>Myuuiii</p>
                </div>

                <div class="button">
                    <a href="https://discord.com/invite/yBEGsVS9bG" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/discord.png" alt="Discord">
                    </a>
                    <p>Myuu#0001</p>
                </div>

                <div class="button">
                    <a href="https://www.nuget.org/profiles/Myuuiii" target="_blank">
                    <img src="https://cdn.myuuiii.moe/logos/nuget.png" alt="Nuget">
                    <p>Myuuiii</p>
                    </a>
                </div>

                <div class="button">
                    <a href="mailto:mute@mutedevs.nl" target="_blank">
                        <img src="https://cdn.myuuiii.moe/logos/email.png" alt="Email">
                    </a>
                    <p>e-Mail</p>
                </div>

                <hr style="opacity: 0;">
                <a href="./socials">
                    <button class="blackWhiteButton">
                        View Socials
                    </button>
                </a>
            </center>
        </div>
    </div>
</div>