@{
	ViewData["Title"] = "Socials";
}

<link rel="stylesheet" href="./css/socialsPage.css">
<div class="splash fadeIn">
	<div class="line lineL"></div>

	<h1>find Myuuiii</h1>
	<p>'Myuu', 'Myu', 'Miu'.. all good!</p>

	<div class="line lineR"></div>

	@* <center> *@
		<a href="https://vrchat.com/home/user/usr_3cb4de01-6ce2-4a40-a56d-324ce88535bf" class="social clickable">
			<span class="service">VRChat</span>
			<span class="username">Myuu-</span>
		</a>	
		<div class="social">
			<span class="service">Discord</span>
			<span class="username">Myuu#0001</span>
		</div>	
		<a href="https://steamcommunity.com/id/myuumiu/" class="social clickable">
			<span class="service">steam</span>
			<span class="username">id/myuumiu</span>
		</a>
		<div class="social">
			<span class="service">Riot Games</span>
			<span class="username">Myuuiii#euw</span>
		</div>	
		<div class="social">
			<span class="service">Epic Games</span>
			<span class="username">Subs_Myu</span>
		</div>	
		<a href="https://github.com/Myuuiii" class="social clickable">
			<span class="service">github</span>
			<span class="username">Myuuiii</span>
		</a>
	@* </center> *@
</div>